:root {
  --primary-font: "Source Code Pro", monospace;

  --main-color: #6600ff;
}

html,
body {
  font-family: var(--primary-font);
  min-width: 320px;
}

.bg__show {
  transition: background-color 0.2s ease-in-out;
}

.border__show {
  transition: border-color 0.2s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}
