:root {
  --primary-font: "Source Code Pro", monospace;

  --main-color: #6600ff;
}

html,
body {
  font-family: var(--primary-font);
  min-width: 320px;
}

html.dark {
  background-color: #131313;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.light__svg {
  fill: black;
}
.light__svg__stroke {
  stroke: black;
}
.dark__svg {
  fill: transparent;
}
.dark__svg__stroke {
  stroke: transparent;
}

.dark .light__svg {
  fill: transparent;
}
.dark .light__svg__stroke {
  stroke: transparent;
}
.dark .dark__svg {
  fill: white;
}
.dark .dark__svg__stroke {
  stroke: white;
}

.bg__show {
  transition: background-color 0.2s ease-in-out;
}

.border__show {
  transition: border-color 0.2s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}
