---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Lecav's Portfolio">
  <header
    class="header max-w-[65rem] mx-auto fixed top-0 left-0 right-0 h-20 flex justify-between items-center px-8 z-50 backdrop-blur-md md:rounded-2xl md:mt-2 md:shadow-lg"
  >
    <Header />
  </header>
  <main class="space-y-20 w-[95%] mt-32 max-w-5xl mx-auto">
    <section
      id="hero"
      class="flex flex-col justify-end gap-12 items-center mt-24 md:mt-0 md:gap-8 md:justify-normal md:flex-row lg:justify-between"
    >
      <Hero />
    </section>
    <section
      id="services"
      class="flex flex-col justify-between gap-y-8 items-center mt-8 md:flex-row"
    >
      <Services />
    </section>
    <section
      id="experience"
      class="flex justify-center lg:justify-start items-center"
    >
      <Experience />
    </section>
    <section id="contact" class="flex flex-col justify-center">
      <Contact />
    </section>
  </main>
  <footer class="w-[95%] max-w-5xl mx-auto">
    <Footer />
  </footer>
</Layout>

<script>
  const select = (el, all = false) => {
    el = el.trim();
    if (all) {
      return [...document.querySelectorAll(el)];
    } else {
      return document.querySelector(el);
    }
  };

  let bars = select(".bars");
  bars.addEventListener("click", () => {
    let navbar = select(".navbar");
    let header = select(".header");
    navbar.classList.toggle("active");
    navbar.classList.add("hide");
    header.classList.toggle("show-nav");
  });

  const onscroll = (el, listener) => {
    el.addEventListener("scroll", listener);
  };

  let navbar_links = select(".scrollto", true);

  const close_navbar = () => {
    navbar_links.forEach((navbar_link) => {
      navbar_link.addEventListener("click", () => {
        let navbar = select(".navbar");
        let header = select(".header");
        navbar.classList.remove("active");
        header.classList.remove("show-nav");
      });
    });
  };

  close_navbar();

  const navbar_links_active = () => {
    let position = window.scrollY + 200;

    navbar_links.forEach((navbar_link) => {
      if (!navbar_link.hash) return;

      let section = select(navbar_link.hash);

      if (!section) return;

      if (
        position >= section.offsetTop &&
        position <= section.offsetTop + section.offsetHeight
      ) {
        navbar_link.classList.add("active");
      } else {
        navbar_link.classList.remove("active");
      }
    });
  };

  window.addEventListener("load", navbar_links_active);
  onscroll(document, navbar_links_active);
</script>
