---
import SocialNetwork from "./SocialNetwork.astro";
import * as Icon from "astro-feather-icons";
---

<article class="flex flex-col gap-12 lg:gap-0 lg:flex-row">
  <aside
    class="flex flex-col gap-12 justify-center items-center w-full lg:w-6/12"
  >
    <h1 class="text-2xl md:text-4xl text-[--main-color] font-bold text-center">
      Send me a message!
    </h1>
    <h2 class="md:text-xl w-5/6 text-center">
      Contact me without fear and let's create something great!
    </h2>
    <div class="flex flex-row gap-16" id="social-networks">
      <SocialNetwork url="mailto:lecav30@outlook.com">
        <Icon.Mail />
      </SocialNetwork>
      <SocialNetwork url="https://www.linkedin.com/in/sebastianlev/">
        <Icon.Linkedin />
      </SocialNetwork>
      <SocialNetwork url="https://github.com/lecav30">
        <Icon.GitHub />
      </SocialNetwork>
      <SocialNetwork url="https://www.instagram.com/sebastian_lev9/">
        <Icon.Instagram />
      </SocialNetwork>
    </div>
  </aside>
  <form class="flex flex-col gap-6 items-center w-full md:gap-12 lg:w-6/12">
    <div class="flex md:flex-row flex-col gap-6 md:gap-24 md:w-5/6 w-10/12">
      <div class="input-div">
        <label for="name">Name</label>
        <input class="input-style" type="text" id="name" name="name" />
      </div>
      <div class="input-div">
        <label for="email">Email</label>
        <input class="input-style" type="email" id="email" name="email" />
      </div>
    </div>
    <div class="flex flex-col w-10/12">
      <label for="message">Message</label>
      <textarea
        class="input-style resize-y"
        id="message"
        name="message"
      ></textarea>
    </div>
    <input
      class="w-4/6 md:w-3/6 bg-[--main-color] text-white font-bold rounded-lg h-10"
      type="submit"
      value="Submit"
    />
  </form>
</article>

<style>
  .input-div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  @media (max-width: 768px) {
    .input-div {
      width: 100%;
    }
  }

  .input-style {
    border-bottom: 2px solid black;
    padding: 0.5rem;
    min-height: 36px;
  }
</style>
