<div>
  <h1
    class="text-4xl text-center sm:text-[2.5rem] lg:text-5xl md:text-start font-bold"
  >
    Hi, I'm Sebastián Lévano
  </h1>
  <h3 class="italic mt-4 text-center md:text-2xl md:text-start">
    Software Engeneering Student at
    <a
      href="https://www.upc.edu.pe/"
      target="_blank"
      class="text-red-500 hover:underline">UPC</a
    >
  </h3>
  <p class="mt-2 text-center font-semibold md:mt-8 md:text-2xl md:text-start">
    Currently working as a frontend developer at
    <a
      href="https://impulsastudio.pe/"
      target="_blank"
      class="text-[var(--main-color)] italic hover:underline">Impulsa Studio</a
    >
  </p>
</div>
<img
  class="w-auto h-60 md:h-80 lg:h-96"
  src="src/assets/image/my-avatar.svg"
  alt="Lecav's Avatar"
/>
