<div
  class="introduce flex flex-col items-center w-full md:basis-7/12 lg:basis-2/6"
>
  <h1 class="text-4xl md:text-5xl md:text-center font-bold">
    Hi, I'm Sebastian Levano
  </h1>
  <h3 class="italic text-2xl mt-4 md:text-center">
    Software Engeneering Student at
    <span class="text-red-500">UPC</span>
  </h3>
  <p class="mt-8 text-2xl text-center font-semibold px-5 md:px-3 lg:px-0">
    Currently working as a frontend developer at <a
      href="https://impulsastudio.pe/">Impulsa Studio</a
    >
  </p>
</div>
<img
  class="w-auto h-60 md:h-80 lg:h-96"
  src="src/assets/image/my-avatar.svg"
  alt="Lecav's Avatar"
/>
